{{input id=(concat "exclude-field-" field.key) type="checkbox" checked=(readonly _checked) change=(action "toggle") class="custom-control-input"}}
<label class="custom-control-label" for="exclude-field-{{field.key}}">{{field.label}}</label>
