<ol class={{wrapperClass}}>
  {{yield (hash
    item=(component "nav-breadcrumbs/item")
  )}}
  {{!-- <li class="breadcrumb-item">{{#link-to "tag.index"}}Tags{{/link-to}}</li>
  <li class="breadcrumb-item active" aria-current="page">{{ model.name }}</li> --}}
</ol>

{{yield}}
