<div class="row">
  <div class="col">
    <div class="form-group mb-0">
      <label for="name">Name</label>
      {{input type="text" required=true value=model.name class="form-control" id="name" aria-describedby="nameHelp" placeholder="Tag Name"}}
      <small id="nameHelp" class="form-text text-muted hide">Tag name.</small>
    </div>
  </div>
</div>
