<div class="row">
  <div class="col">
    <div class="form-group">
      <label for="behavior-query.name">Name</label>
      {{input
        type="text"
        required=true
        value=model.name
        class="form-control form-control-lg"
        id="behavior-query.name"
        aria-describedby="behavior-query.name.help"
        placeholder="My Awesome Query"
      }}
      <small id="behavior-query.name.help" class="form-text text-muted">A friendly name that identifies the contents or results of the query.</small>
    </div>
  </div>
</div>

{{behavior/criteria-builder criteria=model.criteria}}
