{{input disabled=disabled id=tracker.id type="checkbox" class="mr-1" checked=isTrackerActive change=(action "toggleActiveTracker")}}
<label for={{tracker.id}} class="h5 mb-0">{{tracker.customer.name}}</label>
