<div class="card-body">
  {{behavior/90-day-calendar range=range disabled=isActionRunning}}
</div>
<div class="card-footer">
  <button class="btn btn-lg btn-success" disabled={{isDisabled}} {{action "run"}}>{{entypo-icon "download"}} Run Query</button>
</div>
