{{input type="text" readonly=true value=(readonly url) class="form-control pl-3"}}
<div class="input-group-append">
  <div class="input-group-text">
    {{input class="mr-2" type="checkbox" disabled=(readonly disabled) checked=(readonly disabled) change=(action "toggleUrl")}} Original
  </div>
</div>
