<div class="row">
  <div class="col">
    <div class="row">
      <div class="col-12 col-lg-7">
        {{list-controls/search
          phrase=searchPhrase
          fields=searchFields
          searchBy=searchField
          onSubmit=(action "search")
        }}
      </div>

      <div class="col-12 col-lg-5 mt-3 mt-lg-0">
        {{!-- Fix menu alignment, once https://github.com/twbs/bootstrap/pull/26255 is merged --}}
        <div class="btn-toolbar float-md-right" role="toolbar" aria-label="Filter Toolbar">
          {{list-controls/sort
            class="mr-2"
            options=sortOptions
            ascending=ascending
            sortBy=sortField
            disabled=isSortDisabled
            alignment="right"
          }}
          {{list-controls/limit options=limitOptions limit=limit alignment="right"}}
        </div>
      </div>
    </div>
  </div>
</div>
