<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="name">Name</label>
      {{input
        type="text"
        required=true
        value=model.name
        class="form-control"
        id="name"
        aria-describedby="nameHelp"
        placeholder="Customer Name"
        disabled=model.externalSource
      }}
      <small id="nameHelp" class="form-text text-muted hide">Customer Name.</small>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="website">Website</label>
      {{input
        type="text"
        value=model.website
        class="form-control"
        id="website"
        aria-describedby="websiteHelp"
        placeholder="Customer Website"
        disabled=model.externalSource
      }}
      <small id="websiteHelp" class="form-text text-muted hide">Customer Website.</small>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>Parent/Master Customer</label>
      {{type-ahead
        placeholder="Begin typing to find a master customer..."
        type="customer"
        selected=model.parent
        onChange=(action (mut model.parent))
      }}
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label>Linked GAM Advertiser(s)</label>
      {{gam/advertiser-typeahead
        multiple=true
        placeholder="Begin typing to find an advertiser..."
        selected=model.linkedAdvertisers.googleAdManager.nodes
        onChange=(action (mut model.linkedAdvertisers.googleAdManager.nodes))
      }}
    </div>
  </div>
</div>
