@import "node_modules/bootswatch/dist/simplex/variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootswatch/dist/simplex/bootswatch";


// Fluid container that acts like fixed. Main wrapper.
@include media-breakpoint-up(xl) {
  .container-fluid .col.main {
    padding-left: 6.0rem;
    padding-right: 6.0rem;
  }
}
.container-fluid .col.main {
  padding-bottom: 1rem;
}

// @import "power-select";
@import "ember-power-select/themes/bootstrap";
@import "ember-power-select";
.in-modal-dropdown {
  z-index: 1100;
}

.ember-power-select-trigger {
  padding: 2px;
}

.ember-power-select-option {
  padding: 2px 8px;
}

@import "ember-power-calendar";

@import "z-depth";

.search-type-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.ember-power-calendar {
  @include ember-power-calendar($cell-size: 35px);
}

body.transitioning {
  cursor: progress;
}

a[data-ember-action]:not(:disabled),
.clickable {
    cursor: pointer;
}

// Add styling to ember-notify alerts
.ember-notify.alert {
  box-shadow: $z-depth-2;
  border: none !important;
}

.highcharts-credits {
  display: none !important;
}

.progress-md {
  border-radius: 0 !important;
  height: 0.5rem;
}

.main.progress {
  border-radius: 0 !important;
  height: 0.3rem;
}

.dropdown-menu {
  box-shadow: $z-depth-2;
  border: none !important;
}

.card.list-index {
  box-shadow: $z-depth-1;
  border: none !important;
}

.card.model-form {
  box-shadow: $z-depth-1;
  border: none !important;
}

form .progress {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.mnh-100 {
  min-height: 100%;
}

.mnw-100 {
  min-width: 100%;
}

.fixed-bottom.create, .fixed-bottom.create button {
  left: inherit;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  box-shadow: $z-depth-1-half;
}

.modal-content {
  border: 0;
  box-shadow: $z-depth-3;
}

.truncate {
  display: inline-block;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.custom-select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

.video-thumbnail-container {
  max-width: 160px;
}

.video-contents-container {
  max-width: 50vw;
}

.pacing-bar-container {
  padding: 1px;
}

.pacing-bar-total {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 16px;
  width: 100%;
  outline-style: solid;
  outline-width: 1px;
}

.pacing-bar-total-danger {
  background-color: #fce8e6;
  outline-color: #a50e0e;
}

.pacing-bar-total-warning {
  background-color: #fcf6e6;
  outline-color: #a57d0e;
}

.pacing-bar-total-success {
  background-color: #e6fceb;
  outline-color: #0da631;
}

.pacing-bar-actual {
  // width: 35.068%; // this needs to be computed!
  height: 16px;
}

.pacing-bar-actual-danger {
  background-color: #ea4335;
}

.pacing-bar-actual-warning {
  background-color: #ebbb36;
}

.pacing-bar-actual-success {
  background-color: #36eb60;
}

.pacing-bar-expected {
  position: absolute;
  width: 2px;
  height: 20px;
  top: -2px;
  // left: 62.7027%; // this needs to be computed!
  background-color: #5f6368;
}
