{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item active=true}}{{entypo-icon "code"}} Link Tracking{{/crumbs.item}}
{{/nav-breadcrumbs}}

<div class="row">
  <div class="col">

    {{outlet}}

  </div>
</div>
