<div class="card-header">
  <ul class="nav nav-pills card-header-pills">
    <li class="nav-item">
      {{#link-to "link.tracking.index" class="nav-link" role="tab"}}Email HTML{{/link-to}}
    </li>
    <li class="nav-item">
      {{#link-to "link.tracking.ad-creatives" class="nav-link" role="tab"}}Ad Creative URLs{{/link-to}}
    </li>
  </ul>
</div>
