{{#list-controls/button
  disabled=disabled
  class=(concat "dropdown-toggle" " " buttonClass)
  data-toggle="dropdown"
  aria-haspopup="true"
  aria-expanded="false"
}}
  <span class="d-none d-sm-inline">{{selected.label}}</span>
{{/list-controls/button}}

<div class="dropdown-menu {{alignmentClass}}">
  {{#each fields as |field|}}
    <a class="dropdown-item" href="javascript:void(0)" {{action "setField" field.key}}>{{field.label}}</a>
  {{/each}}
</div>
