<div class="card-header">
  <ul class="nav nav-pills card-header-pills" role="tablist">
    <li class="nav-item">{{#link-to "reports.line-items.email.metrics" class="nav-link" role="tab"}}Metrics{{/link-to}}</li>
    <li class="nav-item">{{#link-to "reports.line-items.email.leads" class="nav-link" role="tab"}}Leads{{/link-to}}</li>
    <li class="nav-item">{{#link-to "reports.line-items.email.export" class="nav-link" role="tab"}}Lead Detail{{/link-to}}</li>
    <li class="nav-item">{{#link-to "reports.line-items.email.activity" class="nav-link" role="tab"}}Activity{{/link-to}}</li>
  </ul>
</div>
{{progress-bar show=isLoading class="progress-md"}}
<div class="card-body pb-0">
  <a class="btn btn-lg btn-success mb-1" role="button" href="/export/line-item/{{model.hash}}/email/leads">{{entypo-icon "download"}} Download Email Leads</a>
  <small class="text-muted d-block">
    Note: Metrics reflect total clicks. Employee clicks for testing purposes and bad email addresses are removed from customer lead reports.
  </small>
</div>
{{outlet}}
