{{#link-to
  "identity.excluded-domains.edit" item.id
  class="list-group-item list-group-item-action flex-column align-items-start"
}}
  <div class="d-flex w-100 justify-content-between">
    <h4 class="mb-1">{{item.domain}}</h4>
    {{#if item.updatedAt}}
      <small>{{entypo-icon "clock "}} Updated {{moment-format item.updatedAt "MMM Do, YYYY h:mm a"}}</small>
    {{/if}}
  </div>

  <small>ID: {{item.id}}</small>
{{/link-to}}
